{{template "base" .}}

{{define "title"}}
- Reservation
{{end}}

{{define "content"}}
<div class="container">
    <h1 class="mt-5">Search for Availability</h1>
    <form action="/make-reservation" method="get">
        <div class="mb-3">
          <label for="startDate" class="form-label">Starting Date</label>
          <input type="date" class="form-control" id="startDate" name="startDate" aria-describedby="startDateHelp">
          <div id="startDateHelp" class="form-text">Enter your starting date in the form of YYYY-MM-DD.</div>
        </div>
        <div class="mb-3">
            <label for="endDate" class="form-label">Ending Date</label>
            <input type="date" class="form-control" id="endDate" name="endDate" aria-describedby="endDateHelp">
            <div id="endDateHelp" class="form-text">Enter your ending date in the form of YYYY-MM-DD.</div>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{{end}}