{{template "base" .}}

{{define "title"}}
- Reservation
{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="mt-5">Search for Availability</h1>
            <form action="/make-reservation" method="get" novalidate class="needs-validation">
                <div class="row g-3" id="reservation-dates">
                    <div class="mb-3 col-md-6" id="reservation-dates">
                        <input required type="text" name="start" class="form-control" placeholder="Arrival" autocomplete="off">
                    </div>
                    <div class="mb-3 col-md-6" id="reservation-dates">
                        <input required type="text" name="start" class="form-control" placeholder="Departure" autocomplete="off">
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Search Availability</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <button id="colorButton" type="submit" class="btn btn-light">Click Me</button>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<!-- https://github.com/jaredreich/notie -->
<script src="https://unpkg.com/notie"></script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
<!-- https://sweetalert2.github.io -->
<!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

<script>
    let attention = Prompt();

    (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    let forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
        })
    })();

    document.getElementById("colorButton").addEventListener("click", function () {
        // notify("This is a message", "warning")
        // notifyModal("title", "<em>hello, world</em>", "success", "My text for the button")
        let html = `
        <div class="row">
            <div class="col-md-12">
                <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
                    <div class="row g-3" id="reservation-dates-modal">
                        <div class="mb-3 col-md-6">
                            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival" autocomplete="off">
                        </div>
                        <div class="mb-3 col-md-6">
                            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure" autocomplete="off">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        `
        attention.custom({msg: html, title: "Choose your dates"});
    });

    // https://github.com/mymth/vanillajs-datepicker
    const elem = document.getElementById('reservation-dates');
    const rangepicker = new DateRangePicker(elem, {
        // ...options
        format: "mm-dd-yyyy"
    });

    function notify(msg, msgType) {
        notie.alert({
            type: msgType,
            text: msg
        })
    }

    function notifyModal(title, html, icon, confirmButtonText) {
        Swal.fire({
            title: title,
            html: html,
            icon: icon,
            confirmButtonText: confirmButtonText
        })
    }

    function Prompt() {
        let toast = function(c) {
            const {
                msg = "",
                icon = "success",
                position = "top-end",
            } = c;

            const Toast = Swal.mixin({
                toast: true,
                title: msg,
                position: position,
                showConfirmButton: false,
                icon: icon,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({})
        }

        let success = function(c) {
            const {
                msg = "",
                title = "",
                footer = ""
            } = c;

            Swal.fire({
                icon: 'success',
                title: title,
                text: msg,
                footer: footer
            })
        }

        let error = function(c) {
            const {
                msg = "",
                title = "",
                footer = ""
            } = c;

            Swal.fire({
                icon: 'error',
                title: title,
                text: msg,
                footer: footer
            })
        }

        async function custom(c) {
            const {
                msg = "",
                title = ""
            } = c;

            const {value: formValues} = await Swal.fire({
                title: title,
                html: msg,
                backdrop: false,
                focusConfirm: false,
                showCancelButton: true,
                willOpen: () => {
                    const elem = document.getElementById("reservation-dates-modal");
                    const rp = new DateRangePicker(elem, {
                        format: "mm-dd-yyyy",
                        showOnFocus: true,
                    })
                },
                preConfirm: () => {
                    return [
                        document.getElementById('start').value,
                        document.getElementById('end').value
                    ]
                },
                didOpen: () => {
                    document.getElementById("start").removeAttribute("disabled");
                    document.getElementById("end").removeAttribute("disabled");
                }
            })

            if (formValues) {
            Swal.fire(JSON.stringify(formValues))
            }
        }

        return {
            toast: toast,
            success: success,
            error: error,
            custom: custom,
        }
    }
</script>
{{end}}